.update-button {
    float: right;
    padding: 0.35em 1.2em;
    border: 0.1em solid rgb(91, 108, 138);
    margin: 0 0.3em 0.3em 0;
    border-radius: 1px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: rgb(91, 108, 138);
    text-align: center;
    transition: all 0.2s;
    height: 130%;
    width: 20%;
    font-size: 15px;
    font-weight: bold;
}

.update-button:hover{
    color: #ffffff;
    background-color: #000000;
}

.button-container {
    padding-bottom: 15px;
    padding-right: 10%;
}

.error-message {
    color: rgb(153, 22, 22);
    font-weight: bold;
    float: right;
    padding-right: 30px;
}