:root {
    --title-color: #000000;
  }

.title {
    color: var(--title-color);
}

.sub-title {
    color: var(--title-color);
    text-align: center;
}

.page-header { 
    border-bottom: 1px solid black;
}

.table-body {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.book-list-table {
    border-collapse: collapse;
    width: 100%;
}

.discounted-cost {
    text-decoration: line-through;
}

.price-update {
    color: rgb(119, 138, 170);
}

.right-align {
    text-align: right;
}

.left-align {
    text-align: left;
}

.subtext {
    font-size: 12px;
    font-style: italic;
}

.header-row {
    height: 40px;
}

.data-row {
    height: 80px;
}

.buffer {
    height: 15px;
}

.subtotal-container {
    float: right;
    width: 40%;
}

.subtotal-table {
    width: 100%;
}

.subtotal-row {
    height: 50px;
}

.header-text {
    font-weight: bold;
    font-size: 18px;
    color: var(--title-color);
}


